<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello</title>
  </head>
  <body>
    <h1>Hello, rails!</h1>

    <ul class="todos-list">
      <% for todo in @todos %>
        <li>
          <p>Name: <%= todo.name %></p>
          <p>Description: <%= todo.description %></p>
        </li>
      <% end %>
    </ul>

    <%= form_for :todo, url: pages_path do |f| %>
      Name: <%= f.text_field :name %><br />
      Description : <%= f.text_field :description %><br />
    <%= f.submit %>
    <% end %>
  </body>
</html>
