<p> <%= link_to "Create a todo", new_todo_path %> </p>

<h1>Todo List</h1>

<table class="todos-list">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% for todo in @todos %>
    <tr>
      <td><%= todo.name %></yd>
      <td><%= todo.description %></td>
      <td> <%= link_to "Edit", edit_todo_path(todo) %></td>
      <td><%= link_to "Show", todo_path(todo) %></td>
      <td><%= link_to "Delete", todo_path(todo), method: "delete", data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Add a todo", todo_path(:new) %>
