<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
  </head>
  <body>
    <h1>Todo List</h1>

    <ul class="todos-list">
      <% for todo in @todos %>
        <li>
          <p>Name: <%= todo.name %></p>
          <p>Description: <%= todo.description %></p>
        </li>
      <% end %>
    </ul>

    <%= form_for @todo, url: todos_path do |f| %>
      <p>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :description %><br />
        <%= f.text_area :description %>
      </p>
    <%= f.submit value: "Add Todo" %>
    <% end %>

  </body>
</html>
