<!DOCTYPE html>
<html>
  <head>
    <title>DraculasRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <% flash.each do |name, message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

    <%= yield %>
  </body>
</html>
